.collapsible button::after {
  color: #7e6b73;
}

.collapsible.closed button::after{
    font-family: serif;
    content: "+";
}

.collapsible.open button::after {
    font-family: serif;
    content: "–";
}

.content-container {
    overflow: hidden;
    /* transition: max-height 0.5s ease-in-out; */
  }
  
  .content-container div {
    margin: 0; /* Ensure there's no additional margin interfering with height */
  }



  