#root {
  width: 100%;
  top: 0;
  
}
html {
  scroll-padding-top: 84px;
}
.slide-in {
  animation: slide-in 1s;
}


.banner {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  height: 96vh;
}

@media only screen and (max-width:600px) {
  .banner {
    height: 33vh;
  }
}

.section {
  width: 100%;
  scroll-snap-align: start;
  
}

.stain {
  display: flex;
  /* width: -moz-fit-content;
  width: fit-content; */
  padding: 0 5%;
  background-image: url('/src/assets/stain.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  aspect-ratio: 1/1;
  align-items: center;  
  justify-content: center;
  text-align: center;
}



@keyframes slide-in {
  from {
    margin-top: 10px;
    opacity: 50%;
  }

  to {
    margin-top: 0;
    opacity: 100%;
  }
}

.circle-outline {
  padding: 7%;
  border-radius: 50%;
  border: white 2px solid;
}

a:hover, a:focus {
  text-decoration: underline rgb(255,170,22);

}
