#root {
  width: 100%;
  top: 0;
}

.slide-in {
  animation: slide-in 1s;
}

.section {
  width: 100%;
}

@keyframes slide-in {
  from {
    margin-top: 10px;
    opacity: 50%;
  }

  to {
    margin-top: 0;
    opacity: 100%;
  }
}