@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  h1 {
    @apply text-6xl
  }
  h3 {
    @apply text-xl
  }

}

:root {
  scroll-behavior: smooth;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'EB Garamond', serif;
color: white;
}



h1, h2 {
  font-family: 'Forum', serif;
}




